/*Estilosda página index.html*/
.center {
  text-align: center;
  color: rgb(70, 69, 69);
}

.justify{
  text-align: justify;
  color: #46573d;
  
}

.container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center; 
}
.img{
  
}

 #menu li{
  display:inline;
  padding: 15px;
}

#menu li a {
  text-decoration: none;
  color:#181818;
  font-size: 20px ;
}

#menu li a:hover{
  color: #842df5;

} 

.p-30{
  padding: 30px;
}

.br-50{
  border-radius: 50%;
}
.wh-400{
  width: 400px;
  height: 400px;
}

.tm-social{
  width: 50px;
  height: 50px;
  
}

.mb-50{
  margin-bottom: 50px;
}

/*Estilosda página Projetos.html*/

.ml-50 {
  margin-left: 50px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  width: 300px;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  transition: transform 0.3s ease;
  justify-content: center !important;
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}

.card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.card-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f2f2f2;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
}
.corfundo{
  background-color: #FEE8B0;
  border-radius: 15px;

}
  .corFundoHTML{
    background-color:orangered;
    border-radius: 50px;
  }
.textPerfil{
  color: orangered;
  text-align: center;
}

/* Estilos para o carrossel */
.carousel-container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-content {
  white-space: nowrap;
  animation: marquee 15s linear infinite;
}

.carousel-item {
  display: inline-block;
  padding: 10px;
}

.carousel-item img {
  max-width: 100%;
}

/* Animação do carrossel */
/* @keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
} */
